# s3 entire data
data/
*.pem
credentials

# AWS module
InstanceLaunch-Info
InstanceVolume-Info
PublicIP

# MAC
.DS_Store

# Python
__pycache__/
.Rproj.user
*.Rproj
.Rhistory
.snakemake

# Custom Result folders
resultFiles
exprMatrix
ActMatrix
FEResult
logs
